{{ $choices := list "personal" "work" -}}
{{ $mode := promptChoiceOnce . "private" "What is your data mode" $choices -}}
{{ $email := promptStringOnce . "email" "What is your email address" "roobin.bhandari@gmail.com" -}}
{{ $name := promptStringOnce . "name" "What is your name or nickname" "roobin" -}}

encryption = "age"
progress = true

[age]
    passphrase = true

[gpg]
args = ["--quiet"]

[git]
autocommit = true
autoPush = true
commitMessageTemplate = "chore(dotfiles): {{ .chezmoi.hostname }} @ {{ now | date "2006-01-02 15:04" }}"

[edit]
command = "nvim"

[merge]
command = "nvim"
args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}", "{{ .Target }}`}}"]

[diff]
pager = "delta --side-by-side"
#command = "delta"
#pager = "delta"
#args = ["{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[template]
options = ["missingkey=error"]

[data]
mode = "{{ $mode }}"
email = "{{ $email }}"
name = "{{ $name }}"

