


/* this is for making the unloaded tabs gray*/

.tabbrowser-tab[pending="true"] {
    filter: grayscale(1);
    opacity: 0.5;
}



/* this is for making selected split not have border*/
@-moz-document url-prefix("chrome:") {
  #tabbrowser-tabpanels[zen-split-view="true"]
    .browserSidebarContainer.deck-selected {
    outline: var(--zen-colors-border) !important;
  }
  
}

/**
* Zen Mod: Tab rename fix
* Better visibility of tab renaming by inverting the selected text colors.
*/
@-moz-document url-prefix("chrome:") {
  #tab-label-input::selection {
    background: var(--input-color) !important;
    color: var(--input-bgcolor) !important;
  }
}


/*Fixes the white outlines (or artifacts) on the rounded corners that can appear on some pages.*/ 
.browserContainer, .browserStack {
	clip-path: inset(0 round var(--zen-native-inner-radius));
}


/* add new tab */
#urlbar[zen-newtab="true"] {
  #identity-icon {
    list-style-image: url("chrome://browser/skin/zen-icons/new-tab-image.svg") !important;
    filter: opacity(0.5) !important;
  }

  &[open] #identity-icon-box::after {
    content: "New Tab" !important;
    filter: opacity(0.5) !important;
    padding-left: 6px !important;
  }
}
