[Trigger]
Type = Package
Operation = Install
Operation = Upgrade
Operation = Remove
Target = *

[Action]
Description = Create a backup list of all installed packages
When = PreTransaction
Exec = /bin/sh -c 'pacman -Qqen  > "/home/{{ .chezmoi.username }}/etc/pkglist.txt"; pacman -Qqem > "/home/{{ .chezmoi.username }}/etc/pkglist-aur.txt" 2> /dev/null; exit'
