[Desktop Entry]
Name=imv Image Viewer
Comment=View images with imv (browse folder)
Exec=env FNAME=%U sh -c 'imv -n "$FNAME" "$(dirname "$FNAME")"'
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-tga;image/x-xbitmap;
Name[en_US]=imv
Icon=multimedia-photo-viewer
Keywords=photo;picture;