@import "theme.css";

/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--main-fg);
    font-size: 1rem;
    font-family: "JetBrainsMono Nerd Font";
    border-radius: 100px;
    font-weight: bold;
}

button {
    background-size: 400% 400%;
}

#bar-inner {
    padding: 4px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
    min-height: 28px;
}

#workspaces {
    padding: 6px;
    min-width: 0px;
    background-color: var(--main-bg);

}

#workspaces>button {
    padding: 0px 8px;
    transition: padding 0.05s steps(8);
    background-color: var(--ws-inactive);
}

#workspaces>button>label {
    font-size: 0px;
}

#workspaces>button:hover {
    background-color: var(--ws-hover);
}

#workspaces>button.urgent {
    background-color: var(--ws-urgent);
}

#workspaces>button.active {
    padding: 0px 20px;
    background-color: var(--ws-active);
}

#workspaces>button.empty {
    background-color: var(--ws-empty);
}


menu>menuitem>label,
#date-time>label,
#hyprland-language>label,
#hyprland-window>label {
    font-weight: bold;
}

/* system tray */
#system-tray {
    padding: 2px 4px;
    background-color: var(--main-bg);
}

/* menu and menu items (written for the system tray) */
menu {
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--border-color);
    background-color: var(--window-bg);
}

menu>menuitem {
    border-radius: 0px;
    background-color: var(--main-bg);
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
}

menu>menuitem:first-child {
    margin-top: 1px;
    border-radius: 8px 8px 0px 0px;
}

menu>menuitem:last-child {
    margin-bottom: 1px;
    border-radius: 0px 0px 8px 8px;
}

menu>menuitem:hover {
    background-color: var(--border-color);
}


#cpu-progress-bar,
#ram-progress-bar,
#volume-progress-bar {
    color: transparent;
    background-color: transparent
}


#cpu-progress-bar {
    border: solid 0px alpha(var(--color9), 0.8);
}

#ram-progress-bar,
#volume-progress-bar {
    border: solid 0px var(--border-color);
}


#widgets-container {
    background-color: var(--main-bg);
    padding: 2px;
}

tooltip {
    border-color: var(--border-color);
    background-color: var(--main-bg);
    border-radius: 10px;
}

tooltip>* {
    padding: 2px 4px
}




#hyprland-language,
#hyprland-window {
    background-color: var(--main-bg);
    padding: 0px 8px;
}

#panel-button,
#date-time,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: var(--main-fg);
    background: var(--main-bg);
    padding-left: 30px;
    padding-right: 30px;
}

#panel-button, #battery{
    padding-left: 10px;
    padding-right: 10px;
}

* > label{

 margin-left: 10px;
    
}

 