[settings]
# whether to prompt to install plugins and runtimes if they're not already installed
# missing_runtime_behavior = 'autoinstall' # other options: 'ignore', 'warn', 'prompt', 'autoinstall'

# plugins can read the versions files used by other version managers (if enabled by the plugin)
# for example, .nvmrc in the case of nodejs's nvm
legacy_version_file = true # enabled by default (different than asdf)

# configure `rtx install` to always keep the downloaded archive
always_keep_download = false # deleted after install by default

# configure how frequently (in minutes) to fetch updated plugin repository changes
# this is updated whenever a new runtime is installed
# (note: this isn't currently implemented but there are plans to add it: https://github.com/jdxcode/rtx/issues/128)
plugin_autoupdate_last_check_duration = '1 week' # set to 0 to disable updates

verbose = false     # set to true to see full installation output, see `RTX_VERBOSE`
asdf_compat = false # set to true to ensure .tool-versions will be compatible with asdf, see `RTX_ASDF_COMPAT`
jobs = 4            # number of plugins or runtimes to install in parallel. The default is `4`.
raw = false         # set to true to directly pipe plugins to stdin/stdout/stderr

experimental = false # enable experimental features such as shims
# shims_dir = '~/.local/share/rtx/shims' # [experimental] directory where shims are stored


[tools]
nodejs = "20.14.0"
ruby = "3.3.4"
rust = "1.79.0"
neovim = "0.10.0"
go = "1.22.5"
node = "20.16.0"
